PROXY_UPSTREAM=proxy-upstream
PROXY_ORIGIN=proxy-origin
JWT_CERT_PASSPHRASE=secret
INFURA_KEY=infura-key
INFURA_JWT_ID=infura-jwt-id
DATABASE_USERNAME=bff-db-user
DATABASE_PASSWORD=bff-db-password
DATABASE_NAME=bff-db
ORDERBOOK_DATABASE_HOST=
ORDERBOOK_DATABASE_PORT=
ORDERBOOK_DATABASE_USERNAME=
ORDERBOOK_DATABASE_PASSWORD=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
TELEGRAM_SECRET=
CMS_API_KEY=
CMS_BASE_URL=https://cms.cow.fi
QUEUE_HOST=
QUEUE_PORT=5672