version: '3'
services:
  twap:
    container_name: twap
    image: twap:latest
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
    volumes:
      - ./src:/app/src
      - ./node_modules:/app/node_modules
      - ./package.json:/app/package.json
      - ./yarn.lock:/app/yarn.lock

      - ./.env:/app/.env
    ports:
      - '3000:3000'
    networks:
      - bff-network
    depends_on:
      - db

  api:
    container_name: api
    image: api:latest
    restart: unless-stopped
    env_file: .env
    environment:
      PROXY_UPSTREAM: ${PROXY_UPSTREAM}
      PROXY_ORIGIN: ${PROXY_ORIGIN}
      JWT_CERT_PASSPHRASE: ${JWT_CERT_PASSPHRASE}
      INFURA_KEY: ${INFURA_KEY}
      INFURA_JWT_ID: ${INFURA_JWT_ID}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      TWAP_BASE_URL: http://twap:3000/
    volumes:
      - ./src:/app/src
      - ./node_modules:/app/node_modules
      - ./package.json:/app/package.json
      - ./yarn.lock:/app/yarn.lock

      - ./.env:/app/.env
    ports:
      - '1500:1337'
    networks:
      - bff-network
    depends_on:
      - db

  db:
    container_name: db
    env_file: .env
    image: postgres:14.5-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - data-postgres:/var/lib/postgresql/data/ # using a volume

    ports:
      - '5432:${DATABASE_PORT}'
    networks:
      - bff-network

  queue:
    container_name: queue
    image: rabbitmq:3.13-management
    restart: unless-stopped
    ports:
      - '15672:15672'
      - '5672:5672'
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - data-rabbitmq:/var/lib/rabbitmq

volumes:
  data-postgres:
  data-rabbitmq:

networks:
  bff-network:
    name: bff-network
    driver: bridge
